default: &default
  adapter: postgresql
  database: personal_website
  pool: 5
  timeout: 5000

development:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

test:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

production:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
# development:
#   adapter: postgresql
#   host: ec2-23-21-235-126.compute-1.amazonaws.com
#   username: regpyikpknmwzs
#   password: lQ0Se_VtXOTAtFvxt1dTXssZEV
#   database: df28qcdqvill55

# test:
#   adapter: postgresql
#   database: website_db_test
#   pool: 5
#   timeout: 5000
#   username:
#   password:
#
# production:
#   adapter: postgresql
#   database: website_db_production
#   pool: 5
#   timeout: 5000
#   username:
#   password:
